@import "globals.scss";

p {
    color: $secondary-text-color;
}

.footer-container {
    background-color: $primary-background-color;
    height: 20%;
    padding: 5%;
    
    display: flex;
    align-items: flex-start;
    column-gap: 20%;
    flex-direction: row;
    justify-content: flex-start;

    .social-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      row-gap: 15px;

      .social-title {
        color: $secondary-text-color;
        font-size: 27.2px;
        font-weight: bold;
      }
      .social-icons {
          column-gap: 26px;
        display: flex;
        flex-direction: row;

        .social-icon {
            width: 38.61px
        }
      }
    }

    .contact-wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        width: 10%;

        .contact-title {
            color: $secondary-text-color;
            font-size: 27.2px;
            font-weight: bold;
        }
        .contact-address {
            font-size: 1rem; 
        }
    }
  }